In [1]:
File1=r"day1_attendance.xlsx"
File2 = r"day2_attendance.xlsx"

In [2]:
import pandas as pd
df=pd.read_excel(File1)
df1=pd.read_excel(File2)

In [3]:
df

               Name Time of joining  Duration
0      Aarav Sharma           11:34        40
1       Naina Patel           10:31        40
2       Arjun Singh           09:22        30
3       Anaya Verma           10:46        40
4      Rohan Kapoor           10:42        40
5      Ishita Mehta           11:04        50
6        Vir Chopra           11:43        50
7       Aisha Kumar           11:14        40
8      Vihaan Joshi           10:03        30
9       Zara Khanna           10:03        50
10   Kabir Malhotra           11:50        50
11        Diya Nair           11:06        40
12      Aryan Gupta           10:59        50
13       Avni Patel           09:31        50
14  Kabir Singhania           09:32        50
15     Ananya Desai           09:11        50
16   Aaradhya Reddy           11:45        40
17    Advait Mishra           09:06        30
18      Saanvi Shah           10:56        30
19       Ved Kapoor           11:19        40

In [4]:
df1

               Name Time of joining  Duration
0    Riya Choudhary           10:46        30
1       Advik Kumar           11:41        40
2        Amara Iyer           10:45        50
3      Kunal Sharma           10:06        50
4       Naina Patel           09:14        50
5      Zara Khanna            09:32        40
6    Meera Malhotra           10:15        30
7    Vivaan Khurana           10:25        50
8      Rohan Kapoor           10:02        40
9   Siddharth Verma           10:02        40
10       Anvi Gupta           11:15        50
11    Aarush Sharma           10:37        40
12      Ayesha Khan           09:11        50
13      Rishi Patel           11:26        50
14        Pari Jain           11:15        50
15     Aditya Joshi           10:52        50
16     Saanvi Shah            11:22        50
17   Dhruv Malhotra           09:55        30
18      Maya Kapoor           10:14        50
19    Rishabh Singh           10:07        30

In [12]:
#part a: the names of students who had attended the workshop on both days
df.merge(df1,how="inner",on="Name")

           Name Time of joining_x  Duration_x Time of joining_y  Duration_y
0   Naina Patel             10:31          40             09:14          50
1  Rohan Kapoor             10:42          40             10:02          40

In [20]:
#part b: names of all students who have attended workshop on either of the days 
df.merge(df1, how="outer")

               Name Time of joining  Duration
0      Aarav Sharma           11:34        40
1       Naina Patel           10:31        40
2       Arjun Singh           09:22        30
3       Anaya Verma           10:46        40
4      Rohan Kapoor           10:42        40
5      Ishita Mehta           11:04        50
6        Vir Chopra           11:43        50
7       Aisha Kumar           11:14        40
8      Vihaan Joshi           10:03        30
9       Zara Khanna           10:03        50
10   Kabir Malhotra           11:50        50
11        Diya Nair           11:06        40
12      Aryan Gupta           10:59        50
13       Avni Patel           09:31        50
14  Kabir Singhania           09:32        50
15     Ananya Desai           09:11        50
16   Aaradhya Reddy           11:45        40
17    Advait Mishra           09:06        30
18      Saanvi Shah           10:56        30
19       Ved Kapoor           11:19        40
20   Riya Choudhary           10:46        30
21      Advik Kumar           11:41        40
22       Amara Iyer           10:45        50
23     Kunal Sharma           10:06        50
24      Naina Patel           09:14        50
25     Zara Khanna            09:32        40
26   Meera Malhotra           10:15        30
27   Vivaan Khurana           10:25        50
28     Rohan Kapoor           10:02        40
29  Siddharth Verma           10:02        40
30       Anvi Gupta           11:15        50
31    Aarush Sharma           10:37        40
32      Ayesha Khan           09:11        50
33      Rishi Patel           11:26        50
34        Pari Jain           11:15        50
35     Aditya Joshi           10:52        50
36     Saanvi Shah            11:22        50
37   Dhruv Malhotra           09:55        30
38      Maya Kapoor           10:14        50
39    Rishabh Singh           10:07        30

In [21]:
#part c: Merge the dataframes row-wise and find the total no. of records in the data frame
a=pd.concat([df,df1],ignore_index=True, axis=0)
a

               Name Time of joining  Duration
0      Aarav Sharma           11:34        40
1       Naina Patel           10:31        40
2       Arjun Singh           09:22        30
3       Anaya Verma           10:46        40
4      Rohan Kapoor           10:42        40
5      Ishita Mehta           11:04        50
6        Vir Chopra           11:43        50
7       Aisha Kumar           11:14        40
8      Vihaan Joshi           10:03        30
9       Zara Khanna           10:03        50
10   Kabir Malhotra           11:50        50
11        Diya Nair           11:06        40
12      Aryan Gupta           10:59        50
13       Avni Patel           09:31        50
14  Kabir Singhania           09:32        50
15     Ananya Desai           09:11        50
16   Aaradhya Reddy           11:45        40
17    Advait Mishra           09:06        30
18      Saanvi Shah           10:56        30
19       Ved Kapoor           11:19        40
20   Riya Choudhary           10:46        30
21      Advik Kumar           11:41        40
22       Amara Iyer           10:45        50
23     Kunal Sharma           10:06        50
24      Naina Patel           09:14        50
25     Zara Khanna            09:32        40
26   Meera Malhotra           10:15        30
27   Vivaan Khurana           10:25        50
28     Rohan Kapoor           10:02        40
29  Siddharth Verma           10:02        40
30       Anvi Gupta           11:15        50
31    Aarush Sharma           10:37        40
32      Ayesha Khan           09:11        50
33      Rishi Patel           11:26        50
34        Pari Jain           11:15        50
35     Aditya Joshi           10:52        50
36     Saanvi Shah            11:22        50
37   Dhruv Malhotra           09:55        30
38      Maya Kapoor           10:14        50
39    Rishabh Singh           10:07        30

In [22]:
# total records in the dataframe are:
len(a)

40

In [24]:
#part d:
# merging dataframes
b=df.merge(df1,how="outer")
b

               Name Time of joining  Duration
0      Aarav Sharma           11:34        40
1       Naina Patel           10:31        40
2       Arjun Singh           09:22        30
3       Anaya Verma           10:46        40
4      Rohan Kapoor           10:42        40
5      Ishita Mehta           11:04        50
6        Vir Chopra           11:43        50
7       Aisha Kumar           11:14        40
8      Vihaan Joshi           10:03        30
9       Zara Khanna           10:03        50
10   Kabir Malhotra           11:50        50
11        Diya Nair           11:06        40
12      Aryan Gupta           10:59        50
13       Avni Patel           09:31        50
14  Kabir Singhania           09:32        50
15     Ananya Desai           09:11        50
16   Aaradhya Reddy           11:45        40
17    Advait Mishra           09:06        30
18      Saanvi Shah           10:56        30
19       Ved Kapoor           11:19        40
20   Riya Choudhary           10:46        30
21      Advik Kumar           11:41        40
22       Amara Iyer           10:45        50
23     Kunal Sharma           10:06        50
24      Naina Patel           09:14        50
25     Zara Khanna            09:32        40
26   Meera Malhotra           10:15        30
27   Vivaan Khurana           10:25        50
28     Rohan Kapoor           10:02        40
29  Siddharth Verma           10:02        40
30       Anvi Gupta           11:15        50
31    Aarush Sharma           10:37        40
32      Ayesha Khan           09:11        50
33      Rishi Patel           11:26        50
34        Pari Jain           11:15        50
35     Aditya Joshi           10:52        50
36     Saanvi Shah            11:22        50
37   Dhruv Malhotra           09:55        30
38      Maya Kapoor           10:14        50
39    Rishabh Singh           10:07        30

In [25]:
# setting columns as multi-indexes
c=b.set_index(keys=["Name","Duration"])
c

                         Time of joining
Name            Duration
Aarav Sharma    40                 11:34
Naina Patel     40                 10:31
Arjun Singh     30                 09:22
Anaya Verma     40                 10:46
Rohan Kapoor    40                 10:42
Ishita Mehta    50                 11:04
Vir Chopra      50                 11:43
Aisha Kumar     40                 11:14
Vihaan Joshi    30                 10:03
Zara Khanna     50                 10:03
Kabir Malhotra  50                 11:50
Diya Nair       40                 11:06
Aryan Gupta     50                 10:59
Avni Patel      50                 09:31
Kabir Singhania 50                 09:32
Ananya Desai    50                 09:11
Aaradhya Reddy  40                 11:45
Advait Mishra   30                 09:06
Saanvi Shah     30                 10:56
Ved Kapoor      40                 11:19
Riya Choudhary  30                 10:46
Advik Kumar     40                 11:41
Amara Iyer      50                 10:45
Kunal Sharma    50                 10:06
Naina Patel     50                 09:14
Zara Khanna     40                 09:32
Meera Malhotra  30                 10:15
Vivaan Khurana  50                 10:25
Rohan Kapoor    40                 10:02
Siddharth Verma 40                 10:02
Anvi Gupta      50                 11:15
Aarush Sharma   40                 10:37
Ayesha Khan     50                 09:11
Rishi Patel     50                 11:26
Pari Jain       50                 11:15
Aditya Joshi    50                 10:52
Saanvi Shah     50                 11:22
Dhruv Malhotra  30                 09:55
Maya Kapoor     50                 10:14
Rishabh Singh   30                 10:07

In [26]:
# descriptive statistics for this multi-index
c.describe()

       Time of joining
count               40
unique              34
top              10:02
freq                 2